/* 由 @pikacss/unplugin-pikacss 自動產生 */
@layer preflights, utilities;

@layer utilities {
  .pk-a { padding: 0.5rem 1rem; }
  .pk-b { border-radius: 0.5rem; }
  .pk-c { background-color: #0ea5e9; }
  .pk-d { color: white; }
  .e { cursor: pointer; }
}
